# compiled output
/dist
/node_modules

# Lock
yarn.lock
package-lock.json

graphql.ts

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env